<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este aplicativo precisa de acesso à galeria para que você possa escolher uma foto para o perfil do seu pet.</string>
	<key>NSCameraUsageDescription</key>
	<string>Este aplicativo precisa de acesso à câmera para que você possa tirar uma foto para o perfil do seu pet.</string>
</dict>
</plist>
